body {
    background-image: url("https://www.healthline.com/hlcmsresource/images/topic_centers/Food-Nutrition/Coffee1-banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; 
    text-align: center;
    color: bisque;
    background-color: #6e6061
}

.hide {
    display: none;
}

.begin {
    margin-top: 50px;
}